# ------------------------
# Virtual Environment
# ------------------------
venv/

# ------------------------
# Python Cache
# ------------------------
__pycache__/
.pyc

# ------------------------
# Data & Outputs
# ------------------------
data/
dataset/
output/

# ------------------------
# Trained Models / Weights
# ------------------------
models/
*.h5
*.pt
*.pth
*.ckpt
*.npy

# ------------------------
# Audio Files
# ------------------------
*.wav
*.mp3

# ------------------------
# Jupyter Notebook Files
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Environment Variables
# ------------------------
.env
